.container-navbar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

.container-navbar h3 {
  color: #fff
}

.ul-navbar {
  display: flex;
  justify-content: space-around;
}

.ul-navbar li {
  margin-right: 4rem;
}

.ul-navbar a:hover {
  color: red;
  cursor: pointer;
}

.container-navbar li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}