.container-big-card {
  z-index: 0;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.card-details .date {
  top: 20px;
  left: 25px;
  z-index: 1;
  padding: .5rem;
  font-size: 25px;
  border-radius: 1rem;
  position: absolute;
  background-color: #fff;
}

.card-details .description {
  top: 20px;
  right: 30px;
  width: 9rem;
  padding: .5rem;
  font-size: 20px;
  border-radius: 1rem;
  position: absolute;
  background-color: #fff;
}

.card-details .button {
  right: 50px;
  bottom: 45px;
  position: absolute;
}