<div class="container-big-card">
  <div class="card-details">
    <div class="date">
      <h6>19/01/2024</h6>
    </div>
    <div class="tags">
      <h6>Esportes</h6>
    </div>
    <div class="description"><span>Você já conhecia todos esses esportes?</span></div>
    <div class="button">
      <app-button></app-button>
    </div>
  </div>
  <div>
    <img
      src="https://images.pexels.com/photos/128457/pexels-photo-128457.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="soccer-image"
    />
  </div>
</div>
