.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture img {
  max-width: 700px;
}

.picture p {
  color: gray;
  font-size: small;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem 0;
}

.title hr {
  margin-top: 1rem;
  width: 90vw;
}

.text {
  margin: 2rem 20rem;
}

.text p {
  font-size: large;
}
