<div class="navbar">
  <app-navbar></app-navbar>
</div>
<div class="main-title">
  <app-title></app-title>
</div>
<div class="articles">
  <div class="main-article">
    <app-big-card
      photoCover="https://images.pexels.com/photos/128457/pexels-photo-128457.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      cardDescription="Você já conhecia todos esses esportes?"
    ></app-big-card>
  </div>
  <div class="side-articles">
    <app-card
      photoCover="https://images.pexels.com/photos/274422/pexels-photo-274422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      cardTitle="Se torne um jogador profissional"
    ></app-card>
    <app-card 
      photoCover="https://images.pexels.com/photos/1332237/pexels-photo-1332237.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      cardTitle="Basket popular no Brasil?"
    ></app-card>
  </div>
</div>
